# Ignore eveerything
./*
.Rproj.user
.Rhistory
.RData
.Ruserdata
./*.txt

# Exeptions
!./.gitignore
!./*.R
!./*/
!./dictionaries/col_structure.RDS
!./dictionaries/magnitudes_names.RDS
!./dictionaries/station_names.RDS
!./dictionaries/zona.RDS
!./dictionaries/tipo.RDS

# Ignore subdirectories of data
./data/processed/*/
./data/raw/*/
